/*input.span12, textarea.span12, .uneditable-input.span12{width:930px;}
input.span11, textarea.span11, .uneditable-input.span11{width:850px;}
input.span10, textarea.span10, .uneditable-input.span10{width:770px;}
input.span8, textarea.span8, .uneditable-input.span8{width:610px;}
input.span7, textarea.span7, .uneditable-input.span7{width:530px;}
input.span5, textarea.span5, .uneditable-input.span5{width:370px;}
input.span4, textarea.span4, .uneditable-input.span4{width:290px;}
input.span2, textarea.span2, .uneditable-input.span2{width:130px;}
*/
input.span3, textarea.span3, .uneditable-input.span3{width:210px;}
input.span9, textarea.span9, .uneditable-input.span9{width:690px;}
input.span6, textarea.span6, .uneditable-input.span6{width:450px;}
